
@media (min-width: 1400px){
    .container{
    min-width: 85% !important;
    }
}
.dropbtn {
    font-size: 16px;
    border: none;
    color: #fff;
  }
  .dropdown-me {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0 ;
    right: 0;
    
    border: 1px solid #fff;
    border-radius: 5px;
  }
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #ddd ; color: #373373;}

.dropdown-me:hover .dropdown-content {display: block;}

.dropdown-me:hover .dropbtn{color: #373373;} 

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.lang-city-menu li a.save{
    color: #fff !important;
}

.menu-catgory .lang-city{
    position: relative;
}
.lang-city-menu {
    position: absolute;
    background: #fff;
    z-index: 100;
    text-align: center;
    right:7px;
    top: 75%;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    transition: opacity 0.5s , visibility 0.5s
  }
  .lang-city-menu li {
    display: block;
    margin-left: 0;
  }
  .lang-city-menu .form-select{
      width: 50%;
      float: left;
  }
  .lang-city-menu li .title{
      font-weight: bold;
      
  }
  .lang-city-menu li .title p{
    margin: 0;
}
  .lang-city-menu li label{
    padding: 10px;
    display: block;
    margin: 0 ;
    font-size: 14px;
    color: #5a647c;
  }
  .lang-city-menu .choice{
      display: inline-block;
  }
  .lang-city-menu .save{
    background: #373373;
    display: block;
    padding: 5px;
    margin: 5px 7px 7px;
  }
 
  .lang-city:hover .lang-city-menu{opacity: 1;visibility: visible;}

body{
    font-family: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif !important;
    direction: ltr;
  
}
a , p , h1,h2,h3,h4,h5,h6,span , form , input , button , table{
    text-transform: capitalize !important;
}
h2 ,.add-later-page h4 , h5 , h6{ color: #373373;}
a{
    cursor: pointer;
    text-decoration: none !important;
}
.text-right{
    text-align: right;
    color: #373373 !important;
}
/* Navbar */
.navbar .search-input{
  width: 830px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 990px) and (max-width: 1400px) {
    .navbar .search-input{ width: 475px;}
  }
.navbar .search-btn{
    color: #373373;
    border-color: #373373;
}
.navbar .search-btn:hover{ background-color: #373373;}
.ul-vav li:hover ,
.ul-vav .active {
    border-radius: 5px;
    background-color: #fff;
}
.ad{
    background: #16e693;

    border-radius: 18px;
}
.ad a{
    color: #fff;
}
.ul-vav .nav-item  a.active{
    color: #373373 !important;
}
.ul-vav li:hover .menu-link{color: #373373 !important;}
.navbar .btn-arbic{
    margin-left: 5px;
    border: none;
    background: #f8f9fa;
    color: #373373;
    padding-left: 7px;
    border-radius: 5px;
}
.navbar .btn-arbic:hover{text-decoration: underline;}
.navbar .sign-in{
    margin-left: 5px;
    border: 1px solid #373373;   
    color: #f8f9fa;
    background-color: #373373;
    padding: 7px;
    border-radius: 5px;
}
.navbar .sign-in:hover{
    background: #f8f9fa;
    color: #373373;
}
.menu-catgory{background-color: #373373 !important;}
.menu-catgory ul .nav-item{
    margin: 0 10px;
    padding: 0 5px; 
}
.menu-catgory ul .dropdown{
    padding: 0 10px;
    /* border-right: 1px solid #000; */
    /* border-left: 1px solid #000; */
}
.menu-catgory .nav-item .menu-link{color: #fff !important;} 
.ad:hover{
    background: #16e693 !important;
    color: #fff !important;
    
}
.ad:hover a{
    color: #fff !important;
}
@media(min-width:992px) and (max-width:1400px){
    .menu-catgory ul .nav-item {
        margin: 0 !important;
        font-size: 12px !important;
    }
    .dropbtn {
        font-size: 12px;
    }

}
@media(max-width:991px){
    .lang-city{
        width: 20% ;
        text-align: center;
    }
    .lang-city .menu-link{
        text-align: left !important;
    }

    .ad{
        width: 50% !important;
    }
    .cat-title{
        font-size: 12px !important;
    }

}
/* end navbar */

/* slider */
.slider img{height: 450px !important;}
.slider ol li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.slider .cont-on-slid{
    right: 0 !important; 
    bottom: 60% !important;
    left: 5% !important;
    color: #373373 ;
    text-align: left !important;
}
.slider .cont-on-slid h1{font-weight: bold !important;}
.slider button{
    margin-top: 20px;
    padding:10px ;
    color: #fff;
    background-color: #373373;
    border-radius: 10px;
    border: 1px solid #373373;
}
.slider button:hover{
    color: #373373;
    background-color: #efeef5;
    border-radius: 10px;
    border: 2px solid #373373;
}
/* end slider */

/* categories section */
.categories-sec{text-align: center;}
.cat-img{
    width: 70%;
    
    border-radius: 50%;
    padding: 5px;
}
.category-header{
    text-align: left;
}
.category-link{
    text-align: right;
    color: #373373 !important;
}

.cat-item{ text-align: center;}
.pagination  li a {color: #373373 !important;}
/*end category section */

/* ads slider */
.ads-slider .ads-img{height: 450px !important;}
.ads-description{
    text-align: left !important;
    color: #373373 !important;
    top: 50px;
}
.ads-description h2{
    font-weight: bold;
    font-size: 50px;
    color: #373373;
    padding: 10px 0;   
}
.ads-description button{
    border: none;
    background-color: #373373;
    color: #fff;
    padding: 10px 5px;
    font-size: 30px;
    margin-top: 10px;border-radius: 5px;
}
.ads-slider ol li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #373373 !important;
}
/* end ads-slider */


/* Recommends */
.date{
    color: #6d6666;
    display: inline-block;
}
.card .icon{
    color: #777;
}
.card .card-image{ position: relative;}
 .recommend-icon{
    position: absolute;
    background-color: #ffc108;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 85px;
    text-align: center;   
}
 .recommend-icon i{
    font-size: 45px;
    color: #fff;
}
/* end Recommends */
/* Brands  */
.brand-item{
    border: 1px solid #373373;
    box-shadow: 3px 3px #373373;
    text-align: center;
    padding: 10px 5px;  
    margin: 5px; 
}
.brand-item p{
    color: #000;
    margin: 0;
    font-size: 14px;
}
.brands .brand-img{
    width: 100%;
    margin-bottom: 10px;
}
.col-buttons{
    text-align: right;
}
.btn-slider{
    background: #373373;
    color: #fff !important;
    width: 30px;
    height: 30px;
    border: none !important;
    outline: none !important;
}
.btn-slider i{
    color: #fff;
}
/* end brands */


.ad-client{
    width: 650px;
    height: 145px;
    background: #373373;
    margin: 20px auto;
    color: #fff;
}
@media (max-width:658px){
    .ad-client{
        width: 300px;
        height: 100px;
    }
}
/* footer */
footer{
    background-color: #373373;
    color: #fff;
}
footer .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
footer .row>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
footer a , footer .paragraph{ color: #c5baba !important;}
.follow-icon{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 5px;
    padding: 7px;
}
a .follow-icon{ color: #fff !important;}
@media (max-width:992px){
    footer .Categories{
        justify-content: flex-start !important;
    }
}
@media (max-width:767px){
    footer .follow-us, 
    footer .information ,
    footer .Categories{
        justify-content: flex-start !important;
        padding-top: 30px;
    }
}
.bottom-sec{
    position:absolute;
    bottom:0;
    width:100%;
}
/* end footer */
.categories-sec .cat-item{
    padding-left: 0;
    padding-right: 0;
}

/* contact  page */
.contact .contact_information , .contact .contact_form{
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 7px;
}
.details-info{
    border-bottom: 1px solid #373373;
    padding-bottom: 20px;
}
.details-info p{
    color: #716868;
    margin-top: 15px;
    margin-bottom: 0 !important;
}
.have-icon{
    background: none !important;
    border: none !important;
    outline: none !important;
    color: #929292;
}
.have-icon.active{
    color: #373373;
}
.icon{
    margin-right: 10px;
    color: #373373;   
}
.follow-div{
    border-bottom: none;
}
.follow-div .follow-icon{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    padding-top: 2px;
    color: #fff;
}
.div-btn{
    text-align: right;
}
@media(max-width:575px){
    .div-btn{
        text-align: center;
    }
}
.send-btn{
    background-color: #373373 !important;
    border: none !important;
    width: 83%;
    padding: 13px;
}
.li-icon{
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0 !important;
}
.li-icon a{ color: #fff;}
.icon-1{background: #3a559f;}
.icon-2{ background:#c536a4;}
.icon-3{background: #50abf1;}
.icon-4{background: #DD4B39;}

/* about us page */
@media (min-width: 1400px){
    .about-page .container ,
    .content-page .container{
        min-width: 50% !important;
    }
}
/* select */
select.select-form{
    width: 100%;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    color: #495057;
    border-radius: .25rem;
    outline: none ;
}
/* cars page */
.col-aside {
    background: #f4f4f4;
    border-radius: 10px;
}
.col-aside ul li{
    font-size: 16px;
}
.col-aside ul li a{
    color: #373373;
}

.col-aside ul .clc-btn{
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
.col-aside ul .clc-btn::after{
width: 1.25em;
line-height: 0;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
transition: transform 0.35s ease;
transform-origin: .5em 50%;
}
.col-aside ul .clc-btn[aria-expanded="true"]::after {
    transform: rotate(90deg);}
.col-aside input[type="submit"]{
    width: 100%;
    border-color:#373373 ;
    background: #373373;
    border-radius: 10px;
    color: #fff;
    outline: none;
    padding: 5px 0;
}
/* car sale page */
.recommend .dropdown-toggle{
    color: #fff;
    border-radius: 5px;
    outline: none;
}
@media(max-width:320px){
    .recommend .dropdown-toggle{
        font-size: 18px;
    }
    .recommend .sort-by-label{
        font-size: 14px;
    }
    .recommend .with-img{
        font-size: 15px;
    }
    .recommend .from-to-price{
        font-size: 12px;
    }
}
.recommend .dropdown-menu button{
    border-radius: 5px;
    outline: none;
}

@media(max-width:1024px){
    .sort-by .dropdown{
        width: 100% !important;
    }
}
@media(max-width:425px){
    .sort-by .dropdown{
        width: 100% !important;
    }
    .sort-by .dropdown ul{
        width: 150% !important;
    }
}
/* car sale */
.filter{
    background: #373373;
    color: #fff;

}
.sort-by button{
    outline: none !important;
    background: #373373 !important;
    color: #fff !important;
    border: none !important;
    font-size: 21px;
    border-radius: none !important;
}
.btn-city{
    outline: none;
    border: none;
    background: none;
    width: 100%;
    padding: 10px 0;
    color: gray !important;
    background: #f4f4f4;
    font-size: 28px;
}
.list-prod .li-out{
    border-bottom: 8px solid #f4f4f4;
}
.list-prod .li-light{
    border-bottom: 4px solid #f4f4f4;
}
.btn-1{
    padding: 7px 0px;
    outline: none !important;
    color: gray;
    border: 1px solid #ccc ;
    width: 33%;
}
.btn-all{
    color: #fff;
    background: #373373;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 1px solid #373373 ;
}
.btn-all:hover{
    outline: none !important;
    color: gray;
    background: none;
    border: 1px solid #ccc ;
}
.btn-buy{
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.icon-price{
    color: #fff;
    background: #373373;
    padding: 5px;
    border-radius: 50%;
}
input.int-price{
    border-radius: 10px !important;
    padding: 10px !important;
    outline: none;
}


.icon-brand{
    color: #f1f1f1;
    margin-right: 10px;
}
.collapse .small{
    padding: 0 20px;
}
.choose-city{
width: 100%;
border: none;
outline: none !important;
padding: 10px;
}
.btn-color{
    color: #373373 !important;
    background-color: #f4f4f4 !important;
    border: none !important;
}
.btn-color .icon-brand{
    color: #fff;
}
.price{
    background: #f4f4f4;
    text-align: center;
    padding: 14px 0;
}

/* product-details */
.desc-div{
    border-top: 1px solid rgba(0,0,0,.125);
}
.chat a{
    color: #ffffff;
    /* font-size: 30px; */
}
.product-details .chat-popup , .bulding-details .chat-popup {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .carousel-control-prev ,
  .carousel-control-next{
    background: none !important;
    border: none !important;
  }
/* chat page */
.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #373373;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
    color: #d8d2d2;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #373373;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fc6d4c;
}

 .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
    color: #fff;
}
 .card-header {
    background: #373373 !important;
    /* border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #ffffff; */
}
.card-header button{
    color: #fff;
    width: 45%;
    transition: all 0.3s;
    outline: none !important;
}
.card-header .active{
    background: none;
    border: none;
    color: #16e693 !important;
    border-bottom: 5px solid #16e693;
}
.content{
    margin-top:40px;    
}
  /* .chat-popup {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
   in case used js and button to show it  */
  .phone-popup{
    display: none;
  }
  .open-button {
    background:none;
    color: white;
    border: none;
    outline: none !important;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;

  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  
  }
  .form-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
  
  }
  .form-container input:focus {
    background-color: #ddd;
    outline: none;
  }

.form-container .btn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
 .cancel {
    background-color: red !important;
  }
   .btn:hover, .open-button:hover {
  opacity: 1;
}
.num{
    /* background; */
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 10px;
    margin: 3px;
}
/* owner page */
.send-chat{
    width: 100%;
    background: #16e693 !important;
    color: #fff !important;
    padding: 10px;
    font-size: 20px !important;

}
.header-ad{
border: 1px solid;
padding: 5px 10px;
color: #fff;
background: #373373;
border-radius: 6px;
}
.owner-details{
    background: #f8f9fa;
    border-radius: 10px;
}
.chat-person h4{
    background: #f8f9fa;
    margin: 0;
}
.chat-detail{
    background: #fff;
    align-items: center;
    justify-content: center;
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
    
}
.chat-text{
    position: relative;
}
.chat-text h6 , .chat-text .un-read{
    color: #000;
    font-weight: bold;
}
.chat-text span{
    color: #7b7272;
}
.msg-date{
    position: absolute;
    right: 0;
    top: 0;
}
/* add ad page */
.li-color {
    border-bottom: 2px solid #cacaca;
}
.li-color a{
    color: #373373 !important;
    font-size: 18px;
}
.col-side{
    background: #f8f9fa;
    border-radius: 16px;
}
.ad-sec p{
    background-color: #f8f9fa;
    border-radius: 10px;
}
.ad-sec i{
    color: #373373;

}
.ad-sec p span{
    color: #a9a9a9;
}
.ad-sec input{
    border: none;
    outline: none;
    width: 80%;
}
.ad-sec  select{
    border: none;
    outline: none;
}
.ad-sec .span-select{
    border: 1px solid #777;
}
.ad-sec .span-select select{
    width:80% !important;
}
.ad-sec .span-select option{
    width: 100%;
}
.ad-sec .span-select i{
    color: #777;
}
.submit-div {
    text-align: right;
}
.submit-div input{
    width: 50%;
    background: #373373;
    color: #fff;
    border-radius: 5px;
    
}
/* profile page  */

.div-icon .icon{
  color: #373373;
}
.profile_information_header img{
    border-radius: 50%;
}
.profile_list_item{
    transition: all 0.5s;
}
.profile_list_item:hover{
    background: #16e693;
    padding: 5px;

}
.profile_list_item:hover a ,
.profile_list_item:hover .icon{
    color: #fff !important;
}
.profile_list_item a{
    color: #373373 !important;
}
.edit_profile .input-name{
    background: #f8f9fa;
    width: 100%;
    border-radius: 8px;
}
/* finishing Ads page */
.choose-ad-aval .desc-ad{
    color: #71767b;
    line-height: 1.7;
}
.choose-ad-aval h5{
    color: #000 !important;
}
.ads-amount{
    text-align: right;
}
.bouquet{
    background: #f8f9fa;
    border-radius: 10px;
    transition: background 0.3s;
}
.bouquet p{
    color: #000;
}
.bouquet:hover{
    background: #16e693;
    color: #fff !important;
}
.bouquet:hover span , .bouquet:hover p{
    color: #fff !important;
}
.bouquet .num-bouquet{
    font-size: 25px;
    color:#000 !important;
}
.container-pakages button{
    outline: none !important;
    color: #696969;
    width: 70%;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
}
.container-pakages button:hover{
    color: #fff;
    background: #373373;
}
/* payment-way page */
.bouquet-pay {
    background: #373373;
    border-radius: 10px;
}
.bouquet-pay p{
    color: #fff;
}
.bouquet-pay .num-bouquet{
    font-size: 25px;
}
.choose-pay h4{
    border-bottom:1px solid #efefef ;
}
.choose-pay .way button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border: none;
}
.choose-pay .way button:hover{
    background-color: #16e693 !important;
}
.choose-pay .way i{
    color: #efefef;
}
.color-span{
    color: #ccc;
}
/* my ADS PAGE */
.icon-msg{
    color: #373373;
}
.spcial-ad{
position: absolute;
bottom: 10px;
right: 10px;
background: #ffc107;
color: #fff;
padding: 5px;}

/* register page */
.code-country{
    width: 30%;
    border-radius: 0.25rem;
    /* border: 1px solid #ced4da; */
}
.code-country select{
    height: 100%;
    width: 70% !important;

}
.code-country .flag-img{
    width: 25%;
}
@media(min-width:1440px){
    .profile-image {
        width: 8% !important;
    }
}
.register{
    background-color: #373373;
}
.register .card{
    width: 50% !important;
    margin: auto;
}
@media(max-width:991px){
    .register .card{
        width: 95% !important;
        margin: auto;
    }
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.Sign-btn{
    background-color: #373373 !important;
    border: none !important;
}

.btn-facebook {
    background-color: #405D9D !important;
    color: #fff !important;
}
.btn-google {
    background-color: #DD4B39 !important;
    color: #fff !important;
}
.regi-btn{
    width: 45% !important;
    float: left !important;
}
.footer_sign a{
    color: #fff;
}
.guest{
    background: #ddd;
    padding: 7px;
}
.guest a{
    color: #373373;
}
select{
    width: 100%;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    color: #495057;
    border-radius: .25rem;
    outline: none ;
}
/* login page */

.Sign-up-btn a {
    color: #373373;
    border: 1px solid #373373;
    border-radius: 5px;
    padding: 10px 7px;
}
.Sign-up-btn a:hover{
    background-color: #373373;
    color: #fff;
}







img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}




.chat_img {
  float: left;
  width: 11%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
  background-color: #fff;
}

 .sent_msg p {
  background: #16e693 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  outline: none !important;
  border: none !important;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #16e693 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  outline: none !important;
  border: none !important;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}